{% extends 'base.html' %}

{% block content %}

    <div class="container">    
        <h2 class="card-title" style="text-align: center;">Contact Information</h2>
    
        <p>For any questions or inquiries, please feel free to reach out to me via email or LinkedIn: </p>
            <ul>
                <li><a href="mailto:kevinrush.net@gmail.com">kevinrush.net@gmail.com</a></li>
                <li><a href="https://www.linkedin.com/kevin-Rush">My LinkedIn</a></li>
            </ul>
        <p>If you want to look at the code for this site and my other work, you can checkout my GitHub:</p>
        <ul>
            <li><a href="https://github.com/kevin Rush">GitHub</a></li>
        </ul>
    </div>

{% endblock %}
