{% extends 'base.html' %}

{% block content %}

    <div class="container">    
        <h2 class="card-title" style="text-align: center;">Contact Information</h2>
    
        <p>For any questions or inquiries, please feel free to reach out to me at the following email address: <a href="mailto:kevinrush.net@gmail.com">kevinrush.net@gmail.com</a></p>

        <p>Alternatively, you can also reach out to me on <a href="https://www.linkedin.com/kevin-Rush">LinkedIn</a></p>

        <p>If you want to look at the code for this site and my other work, you can checkout my <a href="https://github.com/kevin Rush">GitHub</a></p>
    </div>

{% endblock %}
