{% extends "base.html" %}
 
{% load crispy_forms_tags %}

{% block content %}

<h2>Generate Business Documents</h2>
<h4>Currently ONLY generating business analysis</h4>

<div id="loading-spinner">
    <div></div>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label>User Prompt:</label>
        {{ form.user_prompt }}
    </div>
    <div class="form-group">
        <label>GPT Key:</label>
        {{ form.gpt_key }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        const loadingSpinner = document.getElementById('loading-spinner');

        form.addEventListener('submit', function() {
            loadingSpinner.style.display = 'block'; // Show the spinner
        });
    });
</script>


{% endblock %}