{% extends 'base.html' %}

{% block content %}
  
  <div style="text-align: center;">
    <h2 class="card-title">Here to help you navigate the Age of AI</h2>
    <br>
  </div>

  <div style="overflow: hidden;"> 
    <div style="float: left; width: 100%;">
      <p>
        <img src="/static/images/KevinRush_Headshot.png" alt="Your Image">
        Welcome, my name is Kevin Rush, I am an AI consultant and developer that aims to help companies educate their workforce and build custom AI solutions. As an AI developer I specialise in machine learning and deep learning with strong technical skills and an analytical mindset. I also have excellent pedagogical skills that have been developed while teaching a variety of learner types. 
        
        My aim is to be able to apply these qualities to challenging problems, while I continue to grow my skill set, and make a meaningful impact on our world and your business.

        This site is where you can find information about my publicly available work, personal projects, and more. Feel free to explore and don't hesitate to reach out if you have any questions.

      </p>
    </div>
  </div>

  <!-- Project Tiles -->
  <div class="project-tiles-container">
    <a href="{% url 'search_landing' %}" style="text-decoration: none; color: inherit;">
        <button class="project-tile">
            <h3>Agent Based Search</h3>
            <p>Use AI Agents to search the internet and return summarized results to your queries</p>
        </button>
    </a>
    <a href="{% url 'gen_biz_docs' %}" style="text-decoration: none; color: inherit;">
        <button class="project-tile">
            <h3>Generate Business Documents</h3>
            <p>Use agents to search, write, and format business documents</p>
        </button>
    </a>
    <a href="{% url 'ppxt_support' %}" style="text-decoration: none; color: inherit;">
        <button class="project-tile">
            <h3>Slide Deck Helper</h3>
            <p>Use generative AI to help you work with ppxt files better</p>
        </button>
    </a>
</div>





</div>

{% endblock %}
