{% extends 'base.html' %}

{% block content %}
  
  <div class="container">    
    <h2 class="card-title">Ready to Search with AI Agents?</h2>

    <p><strong>AI Agents</strong> are specialized programs designed to perform tasks autonomously. They are particularly effective when multiple agents are given specific individual tasks and are then told how to coordinate, allowing these agents to work together and thus automating repetitive tasks with with minimal human intervention.</p>

    <p>This application uses AI agents to streamline the process of conducting internet research. By automating searches and gathering relevant information, these AI agents help users quickly and efficiently compile the data they need.</p>

    <h2>How It Works:</h2>
    <ul>
        <li><strong>Search Automation:</strong> Users input a search query, an AI agent search through many webpages, gathering relevant information.</li>
        <li><strong>Information Evaluation:</strong> A manager agent evaluates the relevance of the informatio found by the research agent and either guides the researcher to find additional information, or approves the presented information.</li>
        <li><strong>Future Expansion:</strong> The application is designed with future capabilities in mind, including the potential to automate the creation of business documents, reports, or presentations based on the collected research.</li>
    </ul>

    <div class="cta">
        <p>To experience the efficiency of AI-assisted research, simply click the button below.</p>
    </div>
  </div>

  <div style="text-align: center;">
    <a href="/make_search" class="btn btn-primary btn-lg">Start Your Search!</a>
  </div>
{% endblock %}
