{% extends "base.html" %}
 
{% block content %}

<h2>Past Searches </h2>

<p> 
    <a href="{% url 'make_search' %}" class="btn btn-primary">Start New Search</a> 
</p>

<table class="table mb-0">
    <thead>
        <tr>
            <th>Prompt </th>
            <th style="text-align: right;">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for prompt in prompts %}
        <tr>
            <td>{{ prompt.user_prompt }}</td>
            <td>
                <form method="post" action="{% url 'delete_prompt' prompt.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm float-right">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}