body {
  background-color: #F5F5DC;
}

.fixed-width-sm {
  width: 150px; 
}

.fixed-width-lg {
  width: 600px;
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
}

/* Loading Spinner */
#loading-spinner {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it appears above other content */
}

#loading-spinner div {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Dropdown Styles */
.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content on hover */
.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown-toggle::after {
  content: '\25BE'; /* Adds a down arrow */
  margin-left: 5px;
  display: none;
}

.navbar .dropdown-toggle {
  cursor: pointer;
}

img {
  border-radius: 10px; /* Adjust the value as needed */
  float: right; 
  width: 200px; 
  height: auto; 
  margin-left: 15px; 
  margin-bottom: 10px;
}
