body {
  background-color: #F5F5DC;
}

.fixed-width-sm {
  width: 150px; 
}

.fixed-width-lg {
  width: 600px;
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
}

/* Loading Spinner */
#loading-spinner {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it appears above other content */
}

#loading-spinner div {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
